<div class="io-table-filter">
  <form class="globalSearch pull-right" action="">
      <label>
      	<span role="form-item-input" type="text" class="ember-view form-item io-input-wrapper">
			    {{input type="text" style="float: right;" placeholder="搜索" value=filterString class="io-input" autocomplete="off" enter=(action 'searchAction' filterString)}}
		    </span>
      </label>
  </form>
</div>
