<header class="docs-masthead">
    <div class="container clearfix">
        <h1 class="docs-title pull-left">
            <a href="/" data-ignore="push"> 
                <img src="./img/logo2.png" width="150px" alt="">
            </a>
        </h1>
        <nav class="docs-nav pull-right">
            <div class="docs-nav-group ">
                {{#link-to 'home' class="docs-nav-item"}}主页{{/link-to}}
                {{#link-to 'document.newbee' class="docs-nav-item"}}快速入手{{/link-to}}
                {{#link-to 'document.introduce' class="docs-nav-item"}}组件列表{{/link-to}}
                <a class="docs-nav-item" href="https://github.com/idcos/antd-ember" data-ignore="push">代码仓库</a>
            </div>
        </nav>
    </div>
</header>