<section class="document main-content">
	<div class="container">
		<div class="row">
			<div class="col-6 components-navigator">
				<ul class="menu">
					<li> {{#link-to 'document.introduce'}}Antd-Ember{{/link-to}} </li>
					<li> {{#link-to 'document.newbee'}}快速上手{{/link-to}}</li>
					<li class="type-divider">基本</li>
					<li> {{#link-to 'document.button'}}Button <span class="chinese">按钮</span> {{/link-to}}</li>
					<li> {{#link-to 'document.icon'}}Icon <span class="chinese">图标</span>{{/link-to}} </li>
					<li> {{#link-to 'document.layout'}} Layout <span class="chinese">布局</span>{{/link-to}}</li>

					<li class="type-divider">表单</li>
					<li> {{#link-to 'document.cascader'}}Cascader <span class="chinese">级联选择器</span> {{/link-to}} </li>
					<li> {{#link-to 'document.checkbox'}}Checkbox <span class="chinese">复选框</span>{{/link-to}}</li>
					<li> {{#link-to 'document.radio'}}Radio <span class="chinese">单选框</span>{{/link-to}}</li>
					<li> {{#link-to 'document.switch'}}Switch <span class="chinese">开关</span>{{/link-to}}</li>
					<li> {{#link-to 'document.select'}}Select <span class="chinese">下拉选择</span>{{/link-to}}</li>
					<li>{{#link-to 'document.transfer'}} Transfer <span class="chinese">穿梭框</span> {{/link-to}}</li>
					<li> {{#link-to 'document.searchableSelect'}}Searchable Select{{/link-to}}</li>
					<li> {{#link-to 'document.form'}}Form <span class="chinese">表单</span>{{/link-to}}</li>
					<li> {{#link-to 'document.datepicker'}} DatePicker <span class="chinese">日期选择器</span>{{/link-to}}</li>
					<li> <a href="">Slider <span class="chinese">滑动输入条</span></a></li>
					<li> {{#link-to 'document.upload'}} Upload<span class="chinese">文件上传</span> {{/link-to}}</li>

					<li class="type-divider">展示</li>
					<li>{{#link-to 'document.alert'}}Alert<span class="chinese">警示</span>{{/link-to}}</li>
					<li>{{#link-to 'document.modal'}}Modal <span class="chinese">模态框</span>{{/link-to}}</li>
					<li> {{#link-to 'document.table'}}Table<span class="chinese">表格</span>{{/link-to}}</li>
					<li> {{#link-to 'document.tree'}}Tree<span class="chinese">树</span>{{/link-to}}</li>
					<li> {{#link-to 'document.dropdown'}}Dropdown<span class="chinese">下拉菜单</span>{{/link-to}}</li>
					<li> {{#link-to 'document.unsave'}}unsave <span class="chinese">未保存离开</span> {{/link-to}}</li>
					<li> {{#link-to 'document.progress'}}progress <span class="chinese">进度条</span>{{/link-to}} </li>
					<li><a href="">Badge<span class="chinese">微标</span></a></li>
					<li><a href="">Message<span class="chinese">全局提示</span></a></li>
					<li><a href="">Tag<span class="chinese">标签</span></a></li>
					<li><a href="">Tooltip<span class="chinese">文字提示</span></a></li>

					<li class="type-divider">导航</li>
					<li>
						{{#link-to 'document.menu'}}Menu <span class="chinese">导航菜单</span>{{/link-to}}
					</li>
					<li><a href="">Tabs<span class="chinese">标签页</span></a></li>
					<li><a href="">Pagination<span class="chinese">分页</span></a></li>
					<li><a href="">Steps<span class="chinese">步骤条</span></a></li>
					<li><a href="">Breadcrumb<span class="chinese">面包屑</span></a></li>

					<li class="type-divider">其他</li>
					<li><a href="">spin<span class="chinese">加载中</span></a></li>
				</ul>
			</div>
			<div class="col-18 component-detail markdown-body">
				{{outlet}}
			</div>
		</div>
	</div>
</section>