<h1> Dropdown 下拉菜单</h1>
<div class="demo-type">
    <h2> 基本用法 </h2>
    <p> 下拉菜单组件分为 trigger 和 overlay , trigger 为触发下拉的载体， overlay 为菜单内容。 可以自定义 triggerEvent 为 mouseover(default) 或者 click</p>
    <div class="demo">
        <div class="demo-example">
			{{#io-dropdown}}
				{{#io-dropdown-trigger}}
					mouseover 菜单 {{io-icon type="down"}}
				{{/io-dropdown-trigger}}
				{{#io-dropdown-overlay}}
					{{#io-menu}}
						{{#io-menu-item value="1"}} 选项一 {{/io-menu-item}}
						{{#io-menu-item}} 选项二 {{/io-menu-item}}
						{{!-- {{#io-menu-item-group title="分组1"}} --}}
						{{#io-menu-item}} 选项三 {{/io-menu-item}}
						{{#io-menu-item}} 选项四 {{/io-menu-item}}
						{{!-- {{/io-menu-item-group}} --}}
					{{/io-menu}}
				{{/io-dropdown-overlay}}
			{{/io-dropdown}}

			&nbsp;&nbsp;&nbsp;

			{{#io-dropdown triggerEvent="click"}}
				{{#io-dropdown-trigger}}
					点击菜单 {{io-icon type="down"}}
				{{/io-dropdown-trigger}}
				{{#io-dropdown-overlay}}
					{{#io-menu}}
						{{#io-menu-item value="1"}} 选项一 {{/io-menu-item}}
						{{#io-menu-item}} 选项二 {{/io-menu-item}}
						{{#io-menu-item-group title="分组1"}}
							{{#io-menu-item}} 选项三 {{/io-menu-item}}
							{{#io-menu-item}} 选项四 {{/io-menu-item}}
						{{/io-menu-item-group}}
					{{/io-menu}}
				{{/io-dropdown-overlay}}
			{{/io-dropdown}}
        </div>
        <div class="demo-code">
        	<pre><code class="language-html" data-lang="html">  
\{{#io-dropdown}}
	\{{#io-dropdown-trigger}}
		mouseover 菜单 \{{io-icon type="down"}}
	\{{/io-dropdown-trigger}}
	\{{#io-dropdown-overlay}}
		\{{#io-menu}}
			\{{#io-menu-item value="1"}} 选项一 \{{/io-menu-item}}
			\{{#io-menu-item}} 选项二 \{{/io-menu-item}}
			\{{!-- \{{#io-menu-item-group title="分组1"}} --}}
			\{{#io-menu-item}} 选项三 \{{/io-menu-item}}
			\{{#io-menu-item}} 选项四 \{{/io-menu-item}}
			\{{!-- \{{/io-menu-item-group}} --}}
		\{{/io-menu}}
	\{{/io-dropdown-overlay}}
\{{/io-dropdown}}

&nbsp;&nbsp;&nbsp;

\{{#io-dropdown triggerEvent="click"}}
	\{{#io-dropdown-trigger}}
		点击菜单 \{{io-icon type="down"}}
	\{{/io-dropdown-trigger}}
	\{{#io-dropdown-overlay}}
		\{{#io-menu}}
			\{{#io-menu-item value="1"}} 选项一 \{{/io-menu-item}}
			\{{#io-menu-item}} 选项二 \{{/io-menu-item}}
			\{{#io-menu-item-group title="分组1"}}
			\{{#io-menu-item}} 选项三 \{{/io-menu-item}}
			\{{#io-menu-item}} 选项四 \{{/io-menu-item}}
			\{{/io-menu-item-group}}
		\{{/io-menu}}
	\{{/io-dropdown-overlay}}
\{{/io-dropdown}}
        	</code></pre>
        </div>
    </div>
</div>