<h1>快速上手</h1>
<blockquote>Antd-Ember 为快速构建企业级应用而生，云霁科技基础 UI 框架</blockquote>

<p>Antd Ember 完全依赖 Ember-cli  来开发， 以 Ember-cli addon 的方式提供， 所有的文档可查看 <a href="www.ember-cli.com/user-guide/">Ember-cli user guid</a></p>

<br>
<h2>一、 环境依赖 </h2>

<code>NodeJs</code>、<code>Ember-cli</code>

<h4>安装 NodeJs</h4>
到<a href="https://nodejs.org/en/download/">Node Js 官方网站</a> 下载最新的稳定版本即可

<h4>安装 Ember-cli</h4>
Antd-Ember 构建基于 Ember-cli ， Ember-cli 提供了完整的前端工程化方案 

<code>$ npm install -g ember-cli</code>

<br><br>
<h2>二、创建项目</h2>

<h4>通过 Ember-cli 创建项目</h4>
<code>$ ember new your-project & cd your-project</code>

<h4>依赖 Antd-Ember</h4>
<code>$ ember install ember-cli-idcos</code>

<h4>依赖 Ember-cli-less</h4>
<p>Antd-Ember 中的样式使用 less 开发， 需要依赖 less addon</p>
<code>$ ember install ember-cli-less</code> 





