<h1> Switch 开关 </h1>


<div class="demo-type">
	<h2>基本使用</h2>
	<div class="demo">
		<div class="demo-example">
			{{io-switch checked=true}}
			{{io-switch checked=false}}
			{{#io-switch checked=false}}
				<span class="checked">开</span>
				<span class="unchecked">关</span>	
			{{/io-switch}}
		</div>
		<div class="demo-code">
			<pre> <code class="language-html">
\{{io-switch checked=true}}
\{{io-switch checked=false}}
\{{#io-switch checked=false}}
	&lt;span class="checked"&gt;开&lt;/span&gt;
	&lt;span class="unchecked"&gt;关&lt;/span&gt;	
\{{/io-switch}}
			</code></pre>
		</div>
	</div>
</div>