<h1>Antd-Ember</h1>

<blockquote>为快速构建企业级应用而生 
云霁科技基础 UI 框架</blockquote>

<p>Antd-Ember = Ember + Antd</p>

<h2>特性</h2>

<ul>
	<li>基于 Ember 和 Ember-cli </li>
	<li>Ant Design UI </li>
	<li>服务于企业级后台产品</li>
	<li>单应用模式</li>
</ul>

<h2>为什么是 Ember </h2>
<p>Ember-cli 命令行工具，提供了目前前端最佳的工程化开发套件。 从开发，测试，打包，发布，Ember-cli 都属于最佳实践</p>



