<section class="docs-header-content">
	<div class="container">
		<div class="docs-sub-title">
			<span style="font-size: 34px;"> 云霁科技基础 UI 框架 </span><br/>
			<span> <b>“为快速构建企业级应用而生”</b></span>
		</div>
		{{#link-to 'document.newbee'  class="io-btn btn" }}  开始使用 {{/link-to}}
		<div class="version">
			<small>当前版本 v0.0.1</small>
		</div>
	</div>	
</section>
